html,
body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    background-color: azure;
    overflow: scroll;
}

.add-item {
    margin-top: 0%

}

.delete-item{
    display: inline-block;
    margin-left: 0%
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

